In [102]:
import pandas as pd

In [103]:
data = pd.read_csv("spam.csv.csv", encoding = "latin-1")

In [104]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [105]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [106]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis = 1, inplace = True)

In [107]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [108]:
data['v1'] = data['v1'].map({'ham': 0, 'spam': 1})

In [109]:
data.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [110]:
from sklearn.feature_extraction.text import CountVectorizer

In [111]:
cv = CountVectorizer()

In [112]:
x = data['v2']
y = data['v1']

In [113]:
x.shape

(5572,)

In [114]:
y.shape

(5572,)

In [115]:
x = cv.fit_transform(x)

In [116]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

1. The Tajmahal
2. The Liberty
3. The Unity


        The  Tajmahal   Liberty   Unity
1.       1       1         0        0
2.       1       0         1        0
3.       1       0         0        1

# Spliting

In [117]:
from sklearn.model_selection import train_test_split

In [125]:
x_train, x_test,y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [126]:
x_train.shape

(4457, 8672)

# Model

In [127]:
from sklearn.naive_bayes import MultinomialNB

In [128]:
model = MultinomialNB()

In [129]:
 model.fit(x_train, y_train)

MultinomialNB()

In [131]:
result = model.score(x_test, Y_test)

In [132]:
result = result * 100

In [133]:
result

97.847533632287

In [145]:
import pickle

In [146]:
pickle.dump(model, open("spam.pkl","wb"))

In [147]:
pickle.dump(cv, open("vectorizer.pkl","wb"))

In [148]:
clf = pickle.load(open("spam.pkl","rb"))

In [149]:
clf

MultinomialNB()

In [152]:
msg = "You will visit to France"
data = [msg]
vect = cv.transform(data).toarray()
result = model.predict(vect)
print(result)

[0]